<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Template Mo">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

    <title>OLDER ADULTS EDUCATION</title>
<!--

ART FACTORY

https://templatemo.com/tm-537-art-factory

-->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="static/styles/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/styles/assets/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="static/styles/assets/css/templatemo-art-factory.css">
    <link rel="stylesheet" type="text/css" href="static/styles/assets/css/owl-carousel.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/css/sign_style.css') }}">
    <script> 
        function clearBox(elementID) { 
            var div = document.getElementById(elementID); 
              
            while(div.firstChild) { 
                div.removeChild(div.firstChild); 
            } 
        } 
    </script> 
    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-stick">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="#" class="logo"><img src="static/styles/assets/images/tools.png" width="auto;" height="60px">Signature Tool FOR OLDER ADULTS</a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="{{ url_for('volunteer_home') }}" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="#about2">Try Now</a></li>
                            
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
  <section class="signature-component" id="about2">
    <h1>Practice Signature</h1>
    <p>Let BVS Volunteers, have a chance help you.</p>
    <form>
    <canvas id="signature-pad" width="400" height="200"></canvas>

    <div>
      <button id="clear_me" style="background-color:#3b59ac;color:white;width: auto;height: 50px;padding: 12px;float: right;text-transform: uppercase;" onclick = "clearcontent('clear_me')">Clear</button>

    </div>
  </form>
    
  </section>
<!-- partial -->
<section class="section" id="services">
        <div class="container">
            <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 col-sm-12">
                    <p class="copyright">Copyright &copy; 2020 BVS Platform | SOLVE4BHARAT Hackathon 
                
                . Design: <a rel="nofollow" href="#">Ravi Vemagiri, BVS Team</a></p>
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12">
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
        </div>
    </section>
    <!-- ***** Features Small End ***** -->

    <!-- ***** Footer Start ***** -->
    
    
    <!-- jQuery -->
    <script src="static/styles/assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="static/styles/assets/js/popper.js"></script>
    <script src="static/styles/assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="static/styles/assets/js/owl-carousel.js"></script>
    <script src="static/styles/assets/js/scrollreveal.min.js"></script>
    <script src="static/styles/assets/js/waypoints.min.js"></script>
    <script src="static/styles/assets/js/jquery.counterup.min.js"></script>
    <script src="static/styles/assets/js/imgfix.min.js"></script> 
  <script src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js'></script>
  <script src="static/styles/assets/js/custom.js"></script>
  <script src="static/styles/assets/js/script_1.js"></script>

</body>
</html>
